<a href="https://colab.research.google.com/github/ZEUS77-dev/Generative-AI-Image-Detection/blob/main/bitgrit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
# Input data files are available in the "../input/" directory.
# import warnings
import warnings
# filter warnings
warnings.filterwarnings('ignore')
from subprocess import check_output
# print(check_output(["ls", "../input"]).decode("utf8"))
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv("/content/drive/MyDrive/bitgrit/train.csv")

In [3]:
df

,labels,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_1190,f_1191,f_1192,f_1193,f_1194,f_1195,f_1196,f_1197,f_1198,f_1199
0,0,-2.033875,0.978446,-0.142131,-0.177117,-1.470684,1.669562,-0.196530,-0.125239,-0.452284,...,-1.111266,0.716084,0.060039,0.301279,-1.174846,-1.076498,-0.069452,-0.604012,-2.179176,0.558003
1,1,-0.348835,0.294815,-0.557577,-2.020773,-1.234715,1.633930,-1.680658,-0.358146,0.166122,...,0.735240,0.829781,1.521941,1.347946,0.754505,1.330642,-0.754453,0.582956,0.252671,1.495870
2,1,0.113248,-0.607726,-0.947791,0.830851,0.998291,0.498321,-1.493958,0.789572,-1.311018,...,0.104698,0.616189,-1.035953,2.111387,-0.984415,1.148076,-1.433554,0.243372,0.170083,1.274795
3,0,1.223321,-0.479048,-1.925789,1.680377,0.021840,-1.453307,0.605559,-0.019024,1.065448,...,0.360237,-1.957863,-0.123384,1.505329,0.660290,-1.769443,-0.547756,-0.568122,0.244645,0.982116
4,0,0.160109,0.422684,-0.308029,0.227744,0.432854,0.608348,0.193832,1.035091,-0.538868,...,0.416629,1.441766,0.212572,-0.994721,1.143999,-2.166923,-1.199248,-1.028636,0.752791,0.317169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,0,1.157565,-0.142219,1.043992,1.144946,1.195423,0.248978,-1.505100,-0.874137,-1.782724,...,1.195423,-0.255793,-0.154838,0.413029,-0.482939,-1.277953,-0.445082,1.195423,-0.924614,-0.432462
5246,0,1.424709,0.235910,1.356778,1.368099,-0.318862,1.039765,-0.986854,-0.330184,-1.383120,...,1.424709,-1.066107,0.881258,-0.488691,-1.281223,-1.213291,0.122692,1.175627,-1.145360,0.451026
5247,1,-0.375687,1.524455,0.012514,-0.007917,0.073809,-0.906909,-1.254247,1.606182,0.298557,...,-0.028349,-0.968204,-1.233815,1.626613,-0.191802,1.115823,0.380284,-0.293960,0.135104,1.381434
5248,1,-0.478238,1.666142,0.049609,-0.428752,-0.362771,1.798104,-0.214314,0.775400,-0.379267,...,-0.428752,-1.121552,-0.379267,-0.593705,0.049609,1.765114,0.313533,-0.329781,-1.220524,0.033114
5249,1,-0.750874,0.267008,-0.155041,-0.179867,-0.155041,-0.303999,-0.279173,1.731765,0.564925,...,-0.303999,-0.850180,0.937321,-1.594972,1.036626,1.582807,1.036626,-0.254346,0.664230,1.831071

In [4]:
df.shape

(5250, 1201)

In [5]:
labels = df.pop('labels')  # Remove the column from the DataFrame
df['labels'] = labels
df  # Add the column back to the end of the DataFrame

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_1191,f_1192,f_1193,f_1194,f_1195,f_1196,f_1197,f_1198,f_1199,labels
0,-2.033875,0.978446,-0.142131,-0.177117,-1.470684,1.669562,-0.196530,-0.125239,-0.452284,-0.128052,...,0.716084,0.060039,0.301279,-1.174846,-1.076498,-0.069452,-0.604012,-2.179176,0.558003,0
1,-0.348835,0.294815,-0.557577,-2.020773,-1.234715,1.633930,-1.680658,-0.358146,0.166122,-1.656990,...,0.829781,1.521941,1.347946,0.754505,1.330642,-0.754453,0.582956,0.252671,1.495870,1
2,0.113248,-0.607726,-0.947791,0.830851,0.998291,0.498321,-1.493958,0.789572,-1.311018,0.848524,...,0.616189,-1.035953,2.111387,-0.984415,1.148076,-1.433554,0.243372,0.170083,1.274795,1
3,1.223321,-0.479048,-1.925789,1.680377,0.021840,-1.453307,0.605559,-0.019024,1.065448,0.717341,...,-1.957863,-0.123384,1.505329,0.660290,-1.769443,-0.547756,-0.568122,0.244645,0.982116,0
4,0.160109,0.422684,-0.308029,0.227744,0.432854,0.608348,0.193832,1.035091,-0.538868,0.778445,...,1.441766,0.212572,-0.994721,1.143999,-2.166923,-1.199248,-1.028636,0.752791,0.317169,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,1.157565,-0.142219,1.043992,1.144946,1.195423,0.248978,-1.505100,-0.874137,-1.782724,0.261597,...,-0.255793,-0.154838,0.413029,-0.482939,-1.277953,-0.445082,1.195423,-0.924614,-0.432462,0
5246,1.424709,0.235910,1.356778,1.368099,-0.318862,1.039765,-0.986854,-0.330184,-1.383120,1.243559,...,-1.066107,0.881258,-0.488691,-1.281223,-1.213291,0.122692,1.175627,-1.145360,0.451026,0
5247,-0.375687,1.524455,0.012514,-0.007917,0.073809,-0.906909,-1.254247,1.606182,0.298557,0.053378,...,-0.968204,-1.233815,1.626613,-0.191802,1.115823,0.380284,-0.293960,0.135104,1.381434,1
5248,-0.478238,1.666142,0.049609,-0.428752,-0.362771,1.798104,-0.214314,0.775400,-0.379267,0.725914,...,-1.121552,-0.379267,-0.593705,0.049609,1.765114,0.313533,-0.329781,-1.220524,0.033114,1
5249,-0.750874,0.267008,-0.155041,-0.179867,-0.155041,-0.303999,-0.279173,1.731765,0.564925,1.508328,...,-0.850180,0.937321,-1.594972,1.036626,1.582807,1.036626,-0.254346,0.664230,1.831071,1

In [6]:
df.duplicated().sum()   #no duplicates

0

In [7]:
df['labels'].value_counts()

0    3850
1    1400
Name: labels, dtype: int64

In [8]:
dft=pd.read_csv('/content/drive/MyDrive/bitgrit/test.csv')

In [9]:
X_train=df.drop(columns=['labels'])
y_train=df['labels']
X_test=dft.drop(columns=['id'])
# X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0,random_state=69);

In [10]:
scaler = StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [11]:
X_train_scaled

array([[-2.60426628,  0.99197232, -0.47376538, ..., -1.03381538,
        -2.00978998,  0.6148496 ],
       [-0.79041827,  0.23144671, -0.90237498, ...,  0.22311512,
         0.48813418,  1.66050162],
       [-0.29301293, -0.77261046, -1.30495363, ..., -0.13648457,
         0.40330259,  1.41401959],
       ...,
       [-0.81932242,  1.59939616, -0.31422009, ..., -0.70548846,
         0.36737287,  1.53291384],
       [-0.92971308,  1.75702021, -0.27594966, ..., -0.74342066,
        -1.02508969,  0.02963718],
       [-1.22319016,  0.20051236, -0.48708444, ..., -0.66353987,
         0.9108762 ,  2.03422597]])

In [12]:
X_test_scaled

array([[-4.06216299,  0.86942045, -0.76829978, ..., -0.79899776,
        -0.32540616, -1.88303896],
       [-0.9498226 ,  0.96297603,  0.69324767, ...,  1.74603014,
         0.90141717, -0.47892868],
       [ 0.79970614, -0.6949878 ,  2.29784699, ..., -0.95748958,
        -0.6739371 ,  1.21856502],
       ...,
       [ 0.93288013,  1.26465725, -0.16839706, ...,  0.93168432,
        -1.23953881,  1.56362096],
       [ 0.70740661, -0.24022274,  0.77320141, ...,  0.76052364,
        -1.25509077,  0.51526771],
       [-1.83535999, -0.63627275, -0.42875186, ...,  0.10491325,
         0.14832564, -0.63897467]])

In [13]:
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
from keras.layers import Dropout
from keras.callbacks import EarlyStopping

In [14]:
from keras.layers.serialization import activation
model = Sequential()
model.add(Dense(128, input_dim=1200, activation='relu'))
model.add(Dropout(0.65))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.65))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               153728

 dropout (Dropout)           (None, 128)               0

 dense_1 (Dense)             (None, 64)                8256

 dropout_1 (Dropout)         (None, 64)                0

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 164,097
Trainable params: 164,097
Non-trainable params: 0
_________________________________________________________________

In [16]:
model.compile(loss='binary_crossentropy',optimizer=Adam(lr=0.001),metrics=['accuracy'])
early_stop = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [17]:
history=model.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.1,callbacks=[early_stop])

Epoch 1/100
148/148 [==============================] - 7s 15ms/step - loss: 0.7242 - accuracy: 0.6741 - val_loss: 0.1548 - val_accuracy: 0.9390
Epoch 2/100
148/148 [==============================] - 1s 5ms/step - loss: 0.4763 - accuracy: 0.7621 - val_loss: 0.1273 - val_accuracy: 0.9486
Epoch 3/100
148/148 [==============================] - 1s 5ms/step - loss: 0.4102 - accuracy: 0.7911 - val_loss: 0.1099 - val_accuracy: 0.9543
Epoch 4/100
148/148 [==============================] - 1s 4ms/step - loss: 0.3699 - accuracy: 0.8205 - val_loss: 0.1109 - val_accuracy: 0.9581
Epoch 5/100
148/148 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8408 - val_loss: 0.1055 - val_accuracy: 0.9619
Epoch 6/100
148/148 [==============================] - 1s 4ms/step - loss: 0.3173 - accuracy: 0.8569 - val_loss: 0.1189 - val_accuracy: 0.9619
Epoch 7/100
148/148 [==============================] - 1s 4ms/step - loss: 0.2716 - accuracy: 0.8804 - val_loss: 0.1273 - val_accuracy: 0.9695
Epoch 8/100
148/148 [==============================] - 1s 4ms/step - loss: 0.2412 - accuracy: 0.8940 - val_loss: 0.1466 - val_accuracy: 0.9695
Epoch 9/100
148/148 [==============================] - 1s 3ms/step - loss: 0.2235 - accuracy: 0.9037 - val_loss: 0.1252 - val_accuracy: 0.9733
Epoch 10/100
148/148 [==============================] - 1s 4ms/step - loss: 0.1987 - accuracy: 0.9200 - val_loss: 0.1679 - val_accuracy: 0.9695

In [18]:
y_log=model.predict(X_test_scaled)

71/71 [==============================] - 0s 2ms/step

In [19]:
y_pred=np.where(y_log>0.5,1,0)

In [20]:
# from matplotlib import pyplot
# # plot loss during training

# pyplot.subplot(211)
# pyplot.title('Loss')
# pyplot.plot(history.history['loss'], label='train')
# pyplot.plot(history.history['val_loss'], label='test')
# pyplot.legend()
# # plot accuracy during training
# pyplot.subplot(212)
# pyplot.title('Accuracy')
# pyplot.plot(history.history['accuracy'], label='train')
# pyplot.plot(history.history['val_accuracy'], label='test')
# pyplot.legend()
# pyplot.show()

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
final = pd.DataFrame(y_pred,columns=['labels'])
final['id']=0;
for i in range(len(final)):
    final.at[i, 'id'] = i + 1

final = final.rename(columns={'labels': 'id', 'id': 'labels'})
final['labels'], final['id'] = final['id'], final['labels']
final

        id  labels
0        1       1
1        2       0
2        3       1
3        4       0
4        5       0
...    ...     ...
2245  2246       0
2246  2247       0
2247  2248       1
2248  2249       0
2249  2250       0

[2250 rows x 2 columns]

In [23]:
final.to_csv('solution.csv', index=False)